{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="row">
        {{ form_row(form.prenom, { 'label': 'Prénom' }) }}
    </div>
    <div class="row">
        {{ form_row(form.nom) }}
    </div>
    <div class="row">
        {{ form_row(form.telephone, { 'label': 'Téléphone' }) }}
    </div>
    <div class="row">
        {{ form_row(form.photo) }}
    </div>
    <div class="row">
        {{ form_row(form.email) }}
    </div>
    <div class="row">
        {{ form_row(form.groupe) }}
    </div>
    <div id="champAutres" data-prototype="{{ form_row(form.champAutres.vars.prototype)|e('html_attr') }}">
        {{ form_row(form.champAutres) }}
        <span></span>
    </div>
</div>
<button class="btn btn-info mt-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        let collection, boutonAjout, span;
        window.onload = () => {
            collection = document.querySelector("#champAutres");
            span = collection.querySelector("span");

            boutonAjout = document.createElement("button");
            boutonAjout.className = "ajout-champ-autre btn btn-info";
            boutonAjout.innerText = "Créer champ";

            let nouveauBouton = span.append(boutonAjout);

            collection.dataset.index = collection.querySelectorAll("input").length;
            boutonAjout.addEventListener("click", function(){
                addButton(collection, nouveauBouton);
            });
        }

        function addButton(collection, nouveauBouton) {
            let prototype = collection.dataset.prototype;
            let index = collection.dataset.index;

            prototype = prototype.replace(/__name__/g, index);

            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newForm = content.querySelector("div");

            let boutonSuppr = document.createElement("button");
            boutonSuppr.type = "button";
            boutonSuppr.className = "btn btn-danger";
            boutonSuppr.id = "delete-champ-autre-" + index;
            boutonSuppr.innerText = "Supprimer ce champ";

            newForm.append(boutonSuppr);

            collection.dataset.index++;

            let boutonAjout = collection.querySelector(".ajout-champ-autre");
            span.insertBefore(newForm, boutonAjout);

            boutonSuppr.addEventListener("click", function(){
                this.previousElementSibling.parentElement.remove();
            })
        }
    </script>
{% endblock %}