{% extends 'base.html.twig' %}

{% block title %}Modifier contact{% endblock %}

{% block body %}
    <h1>Modifier contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
