{% extends 'base.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body %}
    <h1>Nouveau contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Ajouter contact'}) }}
{% endblock %}


