{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>{{ contact.prenom }} {{ contact.nom }}</h1>
    <img src="{{asset('uploads/photos/'~contact.photo)}}" alt="{{asset('uploads/photos/default-avatar.png')}}" width="300"
         height="400" class="img-thumbnail" >
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ contact.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contact.prenom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ contact.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            {% for champAutre in contact.champAutres %}
            <tr>
                <th>{{ champAutre.libelle }}</th>
                <td>{{ champAutre.contenu }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_contact_edit', {'id': contact.id}) }}" role="button">Modifier</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
