{% extends 'base.html.twig' %}

{% block title %}Modifier Groupe{% endblock %}

{% block body %}
    <h1>Modifier Groupe</h1>

    {{ include('groupe/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('groupe/_delete_form.html.twig') }}
{% endblock %}
