{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <h1>Liste des contacts</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Groupe</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set idgroupe = "" %}
        {% for groupe in groupes %}
            {% if groupe.id == (app.request.get('groupe')) %}
                {% set idgroupe = groupe.id %}
                {% for contact in groupe.contacts %}
                    <tr>
                        <td>{{ contact.prenom }}</td>
                        <td>{{ contact.nom }}</td>
                        <td>{{ contact.groupe }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('app_contact_show', {'id': contact.id}) }}" role="button">Détails</a>
                            <a class="btn btn-primary" href="{{ path('app_contact_edit', {'id': contact.id}) }}" role="button">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun contact dans le groupe {{ groupe.nom }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-info" href="{{ path('app_contact_new') }}" role="button">Nouveau contact</a>
    <a class="btn btn-info" href="{{ path('app_groupe_new') }}" role="button">Nouveau groupe</a>
    <a class="btn btn-info" href="{{ path('app_groupe_edit', {'id': idgroupe}) }}" role="button">Modifier groupe</a>
{% endblock %}
